DELETE from meta_variables where source='{{ .Env.SOURCE }}';
INSERT INTO meta_variables (source, target_table, hierarchy) VALUES (
  '{{ .Env.SOURCE }}',
  '{{ .Env.TARGET_TABLE }}',
  '{{ .Env.JSON_HIERARCHY }}'
);
